main {
    justify-items: center;
}

h1 {
    background-color: rgb(240, 239, 239);
    margin-top: 20px;
    font-size: 30px;
}

article{
    margin-top: 50px;
    display: inline-block;
    margin-left: 50px;
    justify-items: center;
    border: 3px solid rgb(109, 109, 109);
    border-radius: 10px;
    background-color: rgb(240, 239, 239);
    padding: 5px;
}

img {
    width: 300px;
}